<mat-card> 
    <mat-card-header> 
        <mat-card-title>Dashboard</mat-card-title> 
        <mat-card-subtitle>Seja bem vindo ao sistema de controle financeiro.</mat-card-subtitle> 
    </mat-card-header> 
    <mat-card-content> 
        <div class="grafico-container"> 
            <div class="grafico"> 
                <div [chart]="graficoDonnut">
                </div> 
            </div> 
            <div class="grafico"> 
                <div [chart]="graficoColunas">
                </div> 
            </div> 
        </div> 
    </mat-card-content>
</mat-card>