<mat-card> 
    <mat-card-header> 
        <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.svg" 
        /> 
    </mat-card-header> 
    <mat-card-title> Acesso ao Sistema </mat-card-title> 
    <mat-card-subtitle> 
        Informe as suas credenciais de acesso: 
    </mat-card-subtitle> 
    <mat-card-content> 
        
        <form> 
            
            <p> 
                <mat-form-field> 
                    <mat-label>Email de acesso:</mat-label> 
                    <input matInput type="text" 
                            placeholder="Digite seu email aqui." /> 
                </mat-form-field> 
            </p> 
                    
            <p> 
                <mat-form-field> 
                    <mat-label>Senha de acesso:</mat-label> 
                        <input 
                            matInput 
                            type="password" 
                            placeholder="Digite sua senha aqui." 
                        /> 
                </mat-form-field> 
            </p> 
                    
            <p> 
                <button mat-raised-button color="primary" 
                        type="submit">Entrar</button> 
            </p> 
                
        </form> 
            
    </mat-card-content> 
</mat-card>