<mat-card> 
    <mat-card-header> 
        <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.svg" 
        /> 
    </mat-card-header> 
    <mat-card-title> Acesso ao Sistema </mat-card-title> 
    <mat-card-subtitle> 
        Informe as suas credenciais de acesso: 
    </mat-card-subtitle> 
    <mat-card-content>
        
        <!-- exibir mensagem --> 
        <app-messages [texto]="resposta"></app-messages>
        
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()"> 
            <p> 
                <mat-form-field> 
                    <mat-label>Email de acesso:</mat-label> 
                    <input 
                        matInput 
                        type="text"
                        placeholder="Digite seu email aqui." 
                        formControlName="email"
                    /> 
                    <mat-error *ngIf="form.email.touched && form.email.invalid"> 
                        <span *ngIf="form.email.errors.required"> 
                            Por favor, informe o email de acesso. 
                        </span> 
                        <span *ngIf="form.email.errors.email"> 
                            Por favor, informe um endereço de email válido. 
                        </span> 
                    </mat-error>
                </mat-form-field> 
            </p>                     
            <p> 
                <mat-form-field> 
                    <mat-label>Senha de acesso:</mat-label> 
                        <input 
                            matInput 
                            type="password" 
                            placeholder="Digite sua senha aqui."
                            formControlName="senha" 
                        />
                        <mat-error *ngIf="form.senha.touched && form.senha.invalid"> 
                            <span *ngIf="form.senha.errors.required"> 
                                Por favor, informe a senha de acesso. 
                            </span> 
                            <span *ngIf="form.senha.errors.pattern"> 
                                Informe a senha com letras minúsculas, maiúsculas, números, 
                                símbolos e pelo menos 8 caracteres. 
                            </span> 
                        </mat-error> 
                </mat-form-field> 
            </p>                    
            <p> 
                <button 
                    mat-raised-button color="primary" 
                    color="primary"
                    type="submit"
                    [disabled]="!formLogin.valid"
                >
                    Entrar
                </button> 
            </p>
            <p> 
                <button 
                    mat-raised-button 
                    color="link" 
                    type="button" 
                    [routerLink]="['/pages/register']" 
                > 
                    Não possui conta? <strong>Cadastre-se aqui!</strong> 
                </button> 
            </p>                
        </form>            
    </mat-card-content>
</mat-card>