<mat-card>
  <mat-card-header>
    <mat-card-title>Edição de contas</mat-card-title>
    <mat-card-subtitle
      >Modifique os dados de contas a pagar ou a receber.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <br />

    <!-- exibição das mensagens -->
    <app-messages [texto]="mensagem" />
    <br />

    <div>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

        <input type="hidden" formControlName="id" />

        <div class="grid-container">
          <mat-form-field class="grid-item">
            <input
              matInput
              placeholder="Nome da conta:"
              formControlName="nome"
            />
            <mat-error *ngIf="form.nome.touched && form.nome.invalid">
              <span *ngIf="form.nome.errors.required">
                Por favor, informe o nome da conta.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="grid-item">
            <input
              type="date"
              matInput
              placeholder="Data da conta:"
              formControlName="data"
            />
            <mat-error *ngIf="form.data.touched && form.data.invalid">
              <span *ngIf="form.data.errors.required">
                Por favor, informe a data da conta.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="grid-item">
            <input
              matInput
              placeholder="Valor da conta:"
              formControlName="valor"
            />
            <mat-error *ngIf="form.valor.touched && form.valor.invalid">
              <span *ngIf="form.valor.errors.required">
                Por favor, informe o valor da conta.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="grid-item">
            <mat-label>Tipo da conta:</mat-label>
            <mat-select formControlName="tipo">
              <mat-option value="">Escolha uma opção</mat-option>
              <mat-option [value]="1">Conta a receber</mat-option>
              <mat-option [value]="2">Conta a pagar</mat-option>
            </mat-select>
            <mat-error *ngIf="form.tipo.touched && form.tipo.invalid">
              <span *ngIf="form.tipo.errors.required">
                Por favor, selecione o tipo da conta.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="grid-item">
            <mat-label>Categoria da conta:</mat-label>
            <mat-select formControlName="categoria">
              <mat-option value="">Escolha uma opção</mat-option>
              <mat-option *ngFor="let item of categorias" value="{{ item.id }}">
                {{ item.nome | uppercase }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.categoria.touched && form.categoria.invalid">
              <span *ngIf="form.categoria.errors.required">
                Por favor, selecione a categoria da conta.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="grid-item">
            <input
              matInput
              placeholder="Descrição da conta:"
              formControlName="descricao"
            />
            <mat-error *ngIf="form.descricao.touched && form.descricao.invalid">
              <span *ngIf="form.descricao.errors.required">
                Por favor, informe a descrição da conta.
              </span>
            </mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            class="grid-item"
            color="primary"
            type="submit"
            [disabled]="!editForm.valid"
          >
            Salvar Alterações
          </button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>